<ElementEventListener @on-credit-card-details={{sendInfo}}>
    <my-credit-card title={{title}}></my-credit-card>
</ElementEventListener>

<h3>(*) Fill data and click over VISA icon and see how Angular Framework listen credit card info event from Web Component</h3>
<h4><strong>Credit card info:</strong></h4>
<p>
  {{ info }}
</p>